<div class="container">
  <div class="main-wrapper">
  <div class="section-headings">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th class="head-title"><span >Sector</span></th>
          <th class="head-market"><span >Market Cap (₹.Cr)</span></th>
          <th class="head-stocks"><span >Stocks</span></th>
          <th class="head-dividend"><span >Dividend(%)</span></th>
          <th class="head-pe"><span >P/E</span></th>
          <th class="head-volume"><span >Volume(Shares)</span></th>
          <th></th>
        </tr>
        </thead>
     </table>
  </div>
 
  <ngb-accordion #acc="ngbAccordion"   [closeOthers]="true">
    <ngb-panel id="toggle-{{i+1}}"   *ngFor="let item of panelName, let i = index">
      <ng-template ngbPanelHeader   >
          <button ngbPanelToggle  [ngClass]="toggle[i] ? 'active-border': ''"  class="btn btn-link p-0 w-100" (click)="toggleIcon(i)">
            <table  class="table table-borderless text-left table-wrapper">
              <thead [ngClass]="toggle[i] ? 'b-shadow': ''">
                <tr>
                  <th *ngFor="let pitem of item.pname"><span>{{pitem}}</span></th>
                  <th><img [ngClass]="toggle[i] ? 'rotated': ''" src="/assets/icons/collapse-open-icon.svg" alt=""></th>
                </tr>
              </thead>
            </table>
          </button>
      </ng-template>
    <ng-template ngbPanelContent>
          <table class="table table-borderless table-hover">
           <thead>
             <tr>
               <th>Company</th>
               <th>CMP</th>
               <th>%Chg</th>
               <th>MCAP</th>
               <th> P/E</th>
             </tr>
             </thead>
             <tbody>
             <tr *ngFor="let t of item.panelData">
               <td>{{t.cname}}</td>
               <td>{{t.cmp}}</td>
               <td>{{t.chg}}</td>
               <td>{{t.mcap}}</td>
               <td>{{t.mcap}}</td>
             </tr>
             </tbody>
          </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
</div>



