// .section-headings{
//     border-bottom: 1px solid black;
//     margin: 0;
// //    text-align: center;
// ul{
//     display: flex;
//     justify-content: space-between;
//     margin: 0;
//         padding: 0;
//     li{
//         list-style: none;
        
//     }
//  }
//     span{
//     color: #999999;
//     font-size: 12px;
//     line-height: 21px;
//     padding: 10px;
//     }
// }
// ::ng-deep.accordion{
//     .card{
//         border: 0;
//         .card-header{
//             background-color: transparent;
//             padding: 0;
//             border: 0;
//             border: 0;
//              border-bottom:1px dotted #dfdfdf ;

//              .section-title{
//                 padding: 10px 0px;
//                 // -webkit-box-shadow: 0 8px 6px -6px #bfbaba;
//                 // -moz-box-shadow: 0 8px 6px -6px #bfbaba;
//                 // box-shadow: 0 8px 6px -6px #bfbaba;
//              ul{
//                 display: flex;
//                 justify-content: space-between;
//                 margin: 0;
//                     padding: 0;
//                 li{
//                     list-style: none;
                    
//                 }
//              }
//                 span{
//                     font-size: 16px;
//                     font-weight: bold;
//                     color: #000000;
//                     cursor: pointer;
//                 }
//                 a{
//                     text-decoration: none;
//                     font-size: 16px;
//                     font-weight: bold;
//                     color: #000000;
//                     cursor: pointer;
//                     svg{
//                         width: 16px;
//                         transition-duration: 0.5s;
//                          transition-property: transform;
                        
//                         &.rotated{
//                             -moz-transform:rotate(180deg);
//                             -webkit-transform:rotate(180deg);
//                             transform:rotate(180deg);
//                         } 
//                     }
//                 }
//              }
//         }
//         .btn-link{
//             width: 100%;
//             border-bottom:1px dotted #dfdfdf ;
//             &:hover{
//                 background-color: #f7f8f9;
//                 text-decoration: none;
//             }
           
           
           
//             &:focus{
//                 text-decoration: none;
//             }
//         }
//         .card-body{
//             background-color: #f7f8f9;
//             .table-wrapper{
//                 th{
//                     color: #999999;
//                     font-size: 12px;
//                     line-height: 21px;
//                     border-bottom: 2px solid #dfdfdf;
//                 }
//                 td{
//                     font-size: 12px;
//                      color: #333333;
//                     }
//                     tr{
                        
//                         border-bottom: 2px solid #dfdfdf;
//                         &:last-of-type{
//                             border-bottom: 1px dotted #dfdfdf;
//                         }
//                 }
//             }
//         }
//     }
// }
.section-headings{
table{
    margin: 0;
    tr{
        border-bottom: 1px solid #333;
        th{
            
              
            span{
                color: #999999;
                font-size: 12px;
                line-height: 21px;
                padding: 10px;
               
                }
        }
    }
}
}

::ng-deep.accordion{
    
        .card{
           
            border: 0;
            
            .card-header{
                background-color: transparent;
                padding: 0;
                border: 0;
                border: 0;
                border-bottom:1px dotted #dfdfdf ;
                .btn-link{
                    width: 100%;
                    border-bottom:1px dotted #dfdfdf ;
                    border-radius: 0px;
                    &:focus{
                       box-shadow: none;
                       text-decoration: none;
                       
                    }
                    
                    .table-wrapper{
                            margin: 0;
                           tr{
                            
                            th{
                                padding: 16px 13px 16px;
                                span{
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: #000000;
                                    cursor: pointer;
                                 
                                }
                                
                                &:nth-child(1){
                                    width: 31%;
                                }
                                &:nth-child(2){
                                    width: 14%;
                                }
                                &:nth-child(3){
                                    width: 11%;
                                }
                                &:nth-child(4){
                                    width: 16%;
                                }
                                &:nth-child(5){
                                    width: 11%;
                                }
                                &:nth-child(6){
                                    width: 13%;
                                }
                                &:nth-child(7){
                                    img{
                                        width: 16px;
                                        transition-duration: 0.5s;
                                         transition-property: transform;
                                        
                                        &.rotated{
                                            -moz-transform:rotate(180deg);
                                            -webkit-transform:rotate(180deg);
                                            transform:rotate(180deg);
                                        } 
                                    }
                                }
                            }
                           }
                        }
                        &:hover{
                            text-decoration: none;
                        }
                      
                       
                }
             }

            .card-body{
                background-color: #f7f8f9;
                .table{
                    th{
                        color: #999999;
                        font-size: 12px;
                        line-height: 21px;
                        border-bottom: 2px solid #dfdfdf;
                    }
                    td{
                        font-size: 14px;
                        color: #333333;
                        font-weight: 500;
                        }
                        tr{
                            
                            border-bottom: 2px solid #dfdfdf;
                            &:last-of-type{
                                border-bottom: 1px dotted #dfdfdf;
                            }
                    }
                }
            }

            .collapse{
                border: 1px solid #2dc06b;
                border-top: 0;
            }
        }
}
.active-border{
    border-left: transparent;
    border: 1px solid #2dc06b;
    border-radius: 0;
     
}
.b-shadow{
    // -webkit-box-shadow: 0 0 10px 0 #000000;
    // -moz-box-shadow:0 0 10px 0 #000000;
    //      box-shadow:0 0 10px 0 #000000;  
    box-shadow: 0 6px 9px -2px grey;
    border-bottom: 0;
         position: relative;
}

.head-title{
    width: 31%;
  }
  .head-market{
    width: 14%;
  }
  .head-stocks{
    width: 11%;
  }
  .head-dividend{
    width: 16%;
 }
 .head-pe{
    width: 11%;
}
.head-volume{
    width: 16%;
}

