  <div class="container mt-5">
    <div class="dropdown-wrapper">
            <div ngbDropdown class="d-inline-block">
              <button type="button"   class="btn btn-dropdown"  id="dropdownBasic1" ngbDropdownToggle>{{dropDownSelector}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let item of fundsName" ngbDropdownItem [ngClass]="dropDownSelector == item? 'active' :''" (click)="ngDropDwonClick(item)">{{item}}</button>
              </div>
            </div>
    </div>
  </div>